.Calendar {
    width: 80vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.CalendarContainerHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.CalendarWeeklyColumnDayContainer {
    display: flex;
}

.CalendarWeeklyColumnDay {
    width: calc((80vw - 40px) / 7.05);
    height: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CalendarWeeklyColumnTime {
    width: 40px;
    height: 10vh;
    font-size: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.CalendarWeeklyColumnTimeContent {
    width: 40px;
    font-size: 8px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.CalendarWeeklyColumnTimeContentItem {
    display: flex;
    height: 40px;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}

.CurrentDay {
    color: red;

    border-bottom: 1px solid red;
    box-sizing: border-box;
}

.CalenderContainerContent {
    display: flex;
    /*height: 100%;*/
    height: 200%;

    overflow-y: scroll;
}

.CalendarWeeklyColumn {
    width: calc((80vw - 40px) / 7.05);
    height: 100%;

    border-left: 1px solid lightgray;
    box-sizing: border-box;
}