.ProfileSettingsMenu {
    position: fixed;
    background: white;
    z-index: 10;
    right: 0;
    top: 15vh;
    height: 80vh;
    width: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: scroll;
}

.ProfileSettingsTop {
    display: flex;
    flex-direction: column;
}

.ProfileSettingsSection {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.CloseIcon {
    display:flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.CancelButton {
    width: 55px;
    height: 21.2px;
}

.PlanReminderSection {
    display: flex;
    flex-direction: column;
}
